# DAT210x - Programming with Python for DS

## Module6- Lab6

In [1]:
import pandas as pd
import time

### How to Get The Dataset

Grab the DLA HAR dataset from:

- http://groupware.les.inf.puc-rio.br/har
- http://groupware.les.inf.puc-rio.br/static/har/dataset-har-PUC-Rio-ugulino.zip
- A cached copy of the dataset is included in the course repository.

After extracting it out, load up the dataset into dataframe named `X` and do your regular dataframe examination:

In [11]:
X = pd.read_csv("Datasets/dataset-har-PUC-Rio-ugulino.csv", sep=";", decimal=",")
X.head(10)

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,class
0,debora,Woman,46,1.62,75,28.6,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147,sitting
1,debora,Woman,46,1.62,75,28.6,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145,sitting
2,debora,Woman,46,1.62,75,28.6,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144,sitting
3,debora,Woman,46,1.62,75,28.6,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142,sitting
4,debora,Woman,46,1.62,75,28.6,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143,sitting
5,debora,Woman,46,1.62,75,28.6,-2,95,-62,-14,19,-16,-13,104,-89,-153,-104,-142,sitting
6,debora,Woman,46,1.62,75,28.6,1,100,-62,-10,22,-12,-13,104,-90,-151,-104,-143,sitting
7,debora,Woman,46,1.62,75,28.6,-1,97,-63,-13,20,-15,-12,104,-88,-151,-104,-142,sitting
8,debora,Woman,46,1.62,75,28.6,-1,98,-63,-14,19,-17,-13,104,-90,-152,-103,-144,sitting
9,debora,Woman,46,1.62,75,28.6,0,98,-61,-11,22,-13,-13,104,-90,-151,-104,-144,sitting

Encode the gender column such that: `0` is male, and `1` as female:

In [12]:
X.gender = X.gender.map({'Man': 0, 'Woman': 1})
X.gender.unique()

array([1, 0], dtype=int64)

Let's take a peek at your data types:

In [13]:
X.dtypes

user                   object
gender                  int64
age                     int64
how_tall_in_meters    float64
weight                  int64
body_mass_index       float64
x1                      int64
y1                      int64
z1                      int64
x2                      int64
y2                      int64
z2                      int64
x3                      int64
y3                      int64
z3                      int64
x4                      int64
y4                      int64
z4                      int64
class                  object
dtype: object

If you find any problematic records, drop them before calling the `to_numeric` methods above.

In [14]:
print(X.isnull().sum())
#X.dropna(axis = 0, how = 'any', inplace = True)

user                  0
gender                0
age                   0
how_tall_in_meters    0
weight                0
body_mass_index       0
x1                    0
y1                    0
z1                    0
x2                    0
y2                    0
z2                    0
x3                    0
y3                    0
z3                    0
x4                    0
y4                    0
z4                    0
class                 0
dtype: int64

Okay, now encode your `y` value as a Pandas dummies version of your dataset's `class` column:

In [15]:
y = X[['class']]
y = pd.get_dummies(y)
y

,class_sitting,class_sittingdown,class_standing,class_standingup,class_walking
0,1,0,0,0,0
1,1,0,0,0,0
2,1,0,0,0,0
3,1,0,0,0,0
4,1,0,0,0,0
5,1,0,0,0,0
6,1,0,0,0,0
7,1,0,0,0,0
8,1,0,0,0,0
9,1,0,0,0,0
10,1,0,0,0,0
11,1,0,0,0,0
12,1,0,0,0,0
13,1,0,0,0,0
14,1,0,0,0,0
15,1,0,0,0,0
16,1,0,0,0,0
17,1,0,0,0,0
18,1,0,0,0,0
19,1,0,0,0,0
20,1,0,0,0,0
21,1,0,0,0,0
22,1,0,0,0,0
23,1,0,0,0,0
24,1,0,0,0,0
25,1,0,0,0,0
26,1,0,0,0,0
27,1,0,0,0,0
28,1,0,0,0,0
29,1,0,0,0,0
...,...,...,...,...,...
165603,0,0,0,0,1
165604,0,0,0,0,1
165605,0,0,0,0,1
165606,0,0,0,0,1
165607,0,0,0,0,1
165608,0,0,0,0,1
165609,0,0,0,0,1
165610,0,0,0,0,1
165611,0,0,0,0,1
165612,0,0,0,0,1
165613,0,0,0,0,1
165614,0,0,0,0,1
165615,0,0,0,0,1
165616,0,0,0,0,1
165617,0,0,0,0,1
165618,0,0,0,0,1
165619,0,0,0,0,1
165620,0,0,0,0,1
165621,0,0,0,0,1
165622,0,0,0,0,1
165623,0,0,0,0,1
165624,0,0,0,0,1
165625,0,0,0,0,1
165626,0,0,0,0,1
165627,0,0,0,0,1
165628,0,0,0,0,1
165629,0,0,0,0,1
165630,0,0,0,0,1
165631,0,0,0,0,1
165632,0,0,0,0,1

In fact, get rid of the `user` and `class` columns:

In [18]:
X.drop(labels=['user', 'class'], axis=1, inplace = True)

,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
count,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000
mean,0.612040,38.265146,1.639712,70.819408,26.188522,-6.649327,88.293667,-93.164611,-87.827504,-52.065047,-175.055200,17.423515,104.517167,-93.881726,-167.641448,-92.625171,-159.650891
std,0.487287,13.184091,0.052820,11.296527,2.995777,11.616238,23.895829,39.409423,169.435194,205.159763,192.816615,52.635388,54.155843,45.389646,38.311342,19.968610,13.221036
min,0.000000,28.000000,1.580000,55.000000,22.000000,-306.000000,-271.000000,-603.000000,-494.000000,-517.000000,-617.000000,-499.000000,-506.000000,-613.000000,-702.000000,-526.000000,-537.000000
25%,0.000000,28.000000,1.580000,55.000000,22.000000,-12.000000,78.000000,-120.000000,-35.000000,-29.000000,-141.000000,9.000000,95.000000,-103.000000,-190.000000,-103.000000,-167.000000
50%,1.000000,31.000000,1.620000,75.000000,28.400000,-6.000000,94.000000,-98.000000,-9.000000,27.000000,-118.000000,22.000000,107.000000,-90.000000,-168.000000,-91.000000,-160.000000
75%,1.000000,46.000000,1.710000,83.000000,28.600000,0.000000,101.000000,-64.000000,4.000000,86.000000,-29.000000,34.000000,120.000000,-80.000000,-153.000000,-80.000000,-153.000000
max,1.000000,75.000000,1.710000,83.000000,28.600000,509.000000,533.000000,411.000000,473.000000,295.000000,122.000000,507.000000,517.000000,410.000000,-13.000000,86.000000,-43.000000

Let's take a look at your handy-work:

In [19]:
X.describe()

,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
count,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000,165633.000000
mean,0.612040,38.265146,1.639712,70.819408,26.188522,-6.649327,88.293667,-93.164611,-87.827504,-52.065047,-175.055200,17.423515,104.517167,-93.881726,-167.641448,-92.625171,-159.650891
std,0.487287,13.184091,0.052820,11.296527,2.995777,11.616238,23.895829,39.409423,169.435194,205.159763,192.816615,52.635388,54.155843,45.389646,38.311342,19.968610,13.221036
min,0.000000,28.000000,1.580000,55.000000,22.000000,-306.000000,-271.000000,-603.000000,-494.000000,-517.000000,-617.000000,-499.000000,-506.000000,-613.000000,-702.000000,-526.000000,-537.000000
25%,0.000000,28.000000,1.580000,55.000000,22.000000,-12.000000,78.000000,-120.000000,-35.000000,-29.000000,-141.000000,9.000000,95.000000,-103.000000,-190.000000,-103.000000,-167.000000
50%,1.000000,31.000000,1.620000,75.000000,28.400000,-6.000000,94.000000,-98.000000,-9.000000,27.000000,-118.000000,22.000000,107.000000,-90.000000,-168.000000,-91.000000,-160.000000
75%,1.000000,46.000000,1.710000,83.000000,28.600000,0.000000,101.000000,-64.000000,4.000000,86.000000,-29.000000,34.000000,120.000000,-80.000000,-153.000000,-80.000000,-153.000000
max,1.000000,75.000000,1.710000,83.000000,28.600000,509.000000,533.000000,411.000000,473.000000,295.000000,122.000000,507.000000,517.000000,410.000000,-13.000000,86.000000,-43.000000

You can also easily display which rows have nans in them, if any:

In [24]:
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4]
Index: []

Create an RForest classifier named `model` and set `n_estimators=30`, the `max_depth` to 10, `oob_score=True`, and `random_state=0`:

In [27]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 30, max_depth = 10, oob_score = True, random_state = 0)

Split your data into `test` / `train` sets. Your `test` size can be 30%, with `random_state` 7. Use variable names: `X_train`, `X_test`, `y_train`, and `y_test`:

In [32]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 7)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Now the Fun Stuff

In [33]:
print("Fitting...")
s = time.time()

# TODO: train your model on your training set

model = forest.fit(X_train, y_train)

print("Fitting completed in: ", time.time() - s)

Fitting...
Fitting completed in:  9.723846197128296

Display the OOB Score of your data:

In [34]:
score = model.oob_score_
print("OOB Score: ", round(score*100, 3))

OOB Score:  98.839

In [35]:
print("Scoring...")
s = time.time()

# TODO: score your model on your test set

score = model.score(X_test, y_test)

print("Score: ", round(score*100, 3))
print("Scoring completed in: ", time.time() - s)

Scoring...
Score:  96.052
Scoring completed in:  0.8422386646270752

At this point, go ahead and answer the lab questions, then return here to experiment more --

Try playing around with the gender column. For example, encode `gender` `Male:1`, and `Female:0`. Also try encoding it as a Pandas dummies variable and seeing what changes that has. You can also try dropping gender entirely from the dataframe. How does that change the score of the model? This will be a key insight on how your feature encoding alters your overall scoring, and why it's important to choose good ones.

In [ ]:
# .. your code changes above ..

After that, try messing with `y`. Right now its encoded with dummies, but try other encoding methods to what effects they have.